<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VenmoOAuthIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>VenmoOauthApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B3256B417F0FCDA00CEE3C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B3256C417F0FCDA00CEE3C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B3256EA17F1074C00CEE3C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B32570717F1074C00CEE3C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
